@import "../../../colors";

.button {
  composes: button from "./style-media.module.scss";
  width: 60%;
  height: 4vh;
  background-color: inherit;
  border: $first_color 0.15vw solid;
  border-radius: 0.3em;
  outline: none;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  transition: border-color 200ms ease-out;
  cursor: pointer;
}

.button:hover, .button:focus {
  border-color: $border_color;
}