@import "../../../colors";

.popUpForm {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: $tint_color;
}

.hiddenPopUpForm {
  composes: popUpForm;
  display: none;
}

.popUpFormContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18%;
  padding: 0 2%;
  border: $border_color 0.15vw solid;
  border-radius: 1vw;
  background-color: $second_color;
  z-index: 2;

  & > * {
    margin-top: 3%;
  }

  & > *:last-child {
    margin-bottom: 3%;
  }
}

.popUpFormContentHeader {
  composes: popUpFormContentHeader from "./style-media.module.scss";
  margin: 3% 0 0 0;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-weight: normal;
}