@media (max-width: 425px) {
  .sidebarItemText {
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sidebarItemText {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebarItemText {
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .sidebarItemText {
    font-size: 16px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .sidebarItemText {
    font-size: 20px;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .sidebarItemText {
    font-size: 20px;
  }
}